{% extends "hotel/base2.html" %}

<html lang="es">
  {% block content %}
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-primary">
          <h3 class="text-center">Opiniones</h3>
          <div class="panel-body">
            {% if Comentarios %}
              {% for comentario in Comentarios %}
              <div class="panel panel-info">
                <div class="panel-body">
                  <p>{{ comentario.texto }}</p>
                </div>
                <div class="panel-footer">{{ comentario.usuario }}</div>
              </div>
              {% endfor %}
            {% else %}
              <h5 class="text-center">No hay comentarios</h5>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    {% if user.is_authenticated %}
      <div class="row" id="nuevoComentario">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="panel panel-primary">
            <h4 class="text-center">Nuevo comentario</h4>
            <div class="form-group">
              <form class="navbar-form" method="post" action="/hotel/foro">
                {% csrf_token %}
                <textarea rows="2" cols="80" name="texto"></textarea><br>
                <input type="submit" name="NUEVOCOMENTARIO" value="Enviar" />
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    {% endif %}
  {% endblock %}
</html>
