{% extends "hotel/base.html" %}
{% load static %}
<html lang="es">
  {% block container %}
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <img src="{% static "hotel/img/logo.jpg" %}" class="img-responsive" style="width:48px; height:32px">
          <h3 class="text-center">Haz tu reserva</h3>
          <div class="panel-body">
            <p>Fecha de entrada: <input type="text" id="datepicker1"></p>
            <p>Fecha de salida:  <input type="text" id="datepicker2"></p>
            <p>Adultos: <input type="number"></p>
            <p>Niños: <input type="number"></p>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-body">
            <div class="col-md-6">
              <div class="row">
                <img class="img-thumbnail" src="{% static "hotel/img/ventajas1.jpg" %}" style="width:100%"/>
              </div>
              <div class="row">
                <img class="img-thumbnail" src="{% static "hotel/img/ventajas3.jpg" %}" style="width:100%"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <img class="img-thumbnail" src="{% static "hotel/img/ventajas2.jpg" %}" style="width:100%"/>
              </div>
              <div class="row">
                <img class="img-thumbnail" src="{% static "hotel/img/ventajas4.jpg" %}" style="width:100%"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-body">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                  <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="{% static "hotel/img/panoramica.jpg" %}" width="100%" height="400">
                  </div>

                  <div class="item">
                    <img src="{% static "hotel/img/exterior.jpg" %}" width="100%" height="400">
                  </div>

                  <div class="item">
                    <img src="{% static "hotel/img/comedor.jpg" %}" width="100%" height="400">
                  </div>

                  <div class="item">
                    <img src="{% static "hotel/img/habitacion.jpg" %}" width="100%" height="400">
                  </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Anterior</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Siguiente</span>
                </a>

              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading text-center"><b>Dónde estamos</b></div>
          <div class="panel-body">
            <div class="row">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3182.4716445174304!2d-3.402188684701826!3d37.09388897988911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71dd40afd5c2ff%3A0x9892f15a1bbecf08!2s18196+Pradollano%2C+Granada!5e0!3m2!1ses!2ses!4v1493115767335" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>          </div>
               <br/><div class="center"><a href="informacion.html"><button type="button" class="boton_personalizado">Más información</button></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading text-center"><b>Promociones y ofertas</b></div>
          <div class="panel-body">
               <div id="myCarousel" class="carousel slide" data-ride="carousel">
                   <!-- Wrapper for slides -->
                   <div class="carousel-inner" role="listbox">
                     <div class="item active">
                       <img src="{% static "hotel/img/oferta2.jpg" %}" width="100%" height="400">
                     </div>

                     <div class="item">
                       <img src="{% static "hotel/img/oferta3.jpg" %}" width="100%" height="400">
                     </div>

                     <div class="item">
                       <img src="{% static "hotel/img/oferta4.jpg" %}" width="100%" height="400">
                     </div>
                   </div>
                 <br/><br/><br/><div class="center"><a href="informacion.html"><button type="button" class="boton_personalizado">Más información</button></a></div>
                </div>

        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary text-center">
          <div class="panel-heading"><b>Descubra nuestras principales instalaciones</b></div>
          <div class="panel-body">
               <p class="left">En nuestro hotel, podrá disfrutar de:</p>
               <p class="bold">Piscina climatizada</p>
               <p class="bold"> Spa</p>
               <p class="bold"> Gimnasio</p>
               <p class="bold">Sala de masajes</p>
               <p class="bold"> Sala de recreativos</p>
               <p class="bold"> Casino</p>
               <p class="bold"> Mirador</p>

               <p class="justify">Además podrá disfrutar de diferentes servicios, como organizar fiestas, banquetes, cumpleaños...</p>
               <br>
               <div class="center"><a href="informacion.html"><button type="button" class="boton_personalizado">Más información</button></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading"></div>
          <div class="panel-body"><img src="{% static "hotel/img/esqui.jpg" %}" class="img-responsive" style="width:100%" alt="Image">
               <h3>¿Le gustaría prácticar esquí?</h3>
               <p>En nuestro catálogo de servicios podrá encontrar ofertas y la información necesaria. Disponemos de clases a diferentes niveles, por lo
               que si nunca lo ha practicado y le gustaría, ésta es tu oportunidad.</p>
                <div class="center"><a href="servicios.html"><button type="button" class="boton_personalizado">Ver más</button></a></div>
          </div>
          <div class="panel-footer"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading"></div>
          <div class="panel-body"><img src="{% static "hotel/img/senderismo.jpg" %}" class="img-responsive" style="width:100%" alt="Image">
               <h3>¿Le gusta el senderismo?</h3>
               <p>En nuestro catálogo de servicios podrá encontrar ofertas y la información necesaria. Disponemos de clases a diferentes niveles, por lo
               que si nunca lo ha practicado y le gustaría, ésta es tu oportunidad.</p>
                <div class="center"><a href="servicios.html"><button type="button" class="boton_personalizado">Ver más</button></a></div>
          </div>
          <div class="panel-footer"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading"></div>
          <div class="panel-body"><img src="{% static "hotel/img/snowboard.jpg" %}" class="img-responsive" style="width:100%" alt="Image">
            <h3>¿Le gustaría prácticar snow?</h3>
            <p>En nuestro catálogo de servicios podrá encontrar ofertas y la información necesaria. Disponemos de clases a diferentes niveles, por lo
            que si nunca lo ha practicado y le gustaría, ésta es tu oportunidad.</p>
             <div class="center"><a href="servicios.html"><button type="button" class="boton_personalizado">Ver más</button></a></div>
          </div>
          <div class="panel-footer"></div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</html>
