{% extends "hotel/base.html" %}
{% load static %}
<html lang="es">
  {% block container %}
  <div class="container">
    <div class="row">
       <div class="col-md-12">
          <h1 class="text-center">Quienes somos</h1>
          <p class="justify">Line Hoteles nace de la mano de Javier Catalán, fundador y actual presidente de la cadena hotelera. Tras una larga carrera profesional dedicado a la
               abogacía, actividad que durante años compaginó con la gerencia de una empresa del sector petrolero (negocio que bajo su dirección ha llegado a
               formar una sociedad con Repsol alcanzando las cuarenta estaciones de servicio distribuidas por toda España) así como Presidente de Ressa
               (empresa gestora de tarjetas de crédito) cargo que sigue ocupando actualmente, en 1995 se decidió a invertir en hoteles.</p>
               <p class="justify">Javier Catalán comenzó su andadura en el sector hotelero con la compra de algunos establecimientos. En el año 1999 presentó en público la c
              adena Line Hoteles eligiendo para ello uno de los mejores escaparates existentes, la Feria Internacional del Turismo (FITUR), relevante
              certamen turístico a nivel mundial donde el Grupo Line sigue estando presente en cada edición dando muestras de su constante expansión
              por las principales capitales del territorio nacional e internacional.</p>
                 <p class="justify">El tesón en el trabajo y el espíritu de superación que marcan el carácter de Javier Catalán son la clave del éxito que está consiguiendo en el sector hotelero
                como demuestra el hecho de que en los últimos seis años Line Hoteles haya aumentado su presencia con la apertura de 25 hoteles de categoría tres y cuatro estrellas.
                Line Hoteles cuenta con un equipo joven con un amplio bagaje profesional que ha sabido captar la filosofía y el empuje marcado por Javier Catalán para
                asentar una Cadena que hoy es referencia en el sector turístico.</p>

       </div>
    </div>
  </div>
  {% endblock %}
</html>
