{% extends "hotel/base2.html" %}
{% load static %}
<html lang="es">
  {% block content %}
    <div class="row">
      <h1 class="text-center">Parking gratuito</h1>
      <div class="col-md-6">
        <br>
        <p class="justify">Si necesita un lugar donde guardar su vehículo durante su estancia, no se preocupe, porque disponemos de un parking gratuito para todos nuestros clientes.
        </p>
        <ul>
          <li type="disc">Vigilancia y monitorización CCTV las 24 horas</li>
          <li type="disc">Aparcamiento Cubierto</li>
          <li type="disc">67 plazas de aparcamiento</li>
          <li type="disc">Carteles de guiado</li>
          <li type="disc">Trasporte gratuito permanente 21h al día (Sin Servicio de 1am a 4am) a todas las terminales (T1, T2 y T4)</li>
          <li type="disc">Transporte gratuito al recinto ferial de Ifema durante las ferias más concurridas</li>
          <li type="disc">El cliente puede llevarse sus llaves</li>
          <li type="disc">Disponible plazas de aparcamiento para vehículos adaptados para personas con movilidad reducida</p>
          <li type="disc">Altura máxima del parking 2.20 m</li>
        </ul>
      </div>
      <div class="col-md-6">
        <br><br>
       <img src="{% static "hotel/img/p2.jpg" %}"  class="img-responsive" style="width:100%" >
      </div>
    </div>

  {% endblock %}
</html>
