{% extends "hotel/base.html" %}
{% load static %}
<html lang="es">
  {% block container %}
    {% if user.is_authenticated %}
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="panel panel-primary">
                <div class="panel-body">
                  {% for reserva in Reservas %}
                    <h4>Código reserva: 9rej3248df<h4>
                    <h4>Fecha entrada: {{ reserva.fecha_e }}<h4>
                    <h4>Fecha salida: {{ reserva.fecha_s }}<h4>
                    <h4>Adultos: {{ reserva.adultos }}<h4>
                    <h4>Niños: {{ reserva.ninos }}<h4>
                    <h4>Habitación: {{ reserva.habitacion }}<h4>
                  {% endfor%}
                </div>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    {% endif %}
  {% endblock %}
</html>
