{% extends "hotel/base.html" %}
{% load static %}
<html lang="es">
  {% block container %}
  <div class="container">
    <div class="row">
      <div class="panel panel-primary">
        <h4 class="text-center">Haz tu reserva</h4>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <p>Fecha de entrada: <input type="text" id="datepicker1"></p>
            </div>
            <div class="col-md-4">
              <p>Fecha de salida:  <input type="text" id="datepicker2"></p>
            </div>
            <div class="col-md-4">
              <p>Personas: <input type="text"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#comprDispo">Comprobar</button>
            </div>
            <div class="col-md-5"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading text-center"><b>Restaurante</b></div>
          <div class="panel-body"><img src="{% static "hotel/img/restaurante_servicio.jpg" %}" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer text-center">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#infoServicio">Ver</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading text-center"><b>Banquete</b></div>
          <div class="panel-body"><img src="{% static "hotel/img/banquete.jpg" %}" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer text-center">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#infoServicio">Ver</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading text-center"><b>Fiesta</b></div>
          <div class="panel-body"><img src="{% static "hotel/img/fiesta.jpg" %}" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer text-center">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ver</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading text-center"><b>Cumpleaños</b></div>
          <div class="panel-body"><img src="{% static "hotel/img/cumpleaños.jpg" %}" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer text-center">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#infoServicio">Ver</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading text-center"><b>Actividades externas</b></div>
          <div class="panel-body"><img src="{% static "hotel/img/snowboard2.jpg" %}" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer text-center">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#infoServicio">Ver</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading text-center"><b>Sala de juegos</b></div>
          <div class="panel-body"><img src="{% static "hotel/img/sala_juegos2.jpg" %}" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer text-center">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#infoServicio">Ver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</html>
