{% extends "hotel/base2.html" %}
{% load static %}
<html lang="es">
  {% block content %}
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading text-center"><b>Restaurante</b></div>
          <div class="panel-body"><img src="{% static "hotel/img/restaurante_servicio.jpg" %}" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer text-center">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#infoServicio">Ver</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading text-center"><b>Banquete</b></div>
          <div class="panel-body"><img src="{% static "hotel/img/banquete.jpg" %}" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer text-center">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#infoServicio">Ver</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading text-center"><b>Fiesta</b></div>
          <div class="panel-body"><img src="{% static "hotel/img/fiesta.jpg" %}" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer text-center">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ver</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading text-center"><b>Cumpleaños</b></div>
          <div class="panel-body"><img src="{% static "hotel/img/cumpleaños.jpg" %}" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer text-center">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#infoServicio">Ver</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading text-center"><b>Actividades externas</b></div>
          <div class="panel-body"><img src="{% static "hotel/img/snowboard2.jpg" %}" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer text-center">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#infoServicio">Ver</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading text-center"><b>Sala de juegos</b></div>
          <div class="panel-body"><img src="{% static "hotel/img/sala_juegos2.jpg" %}" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer text-center">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#infoServicio">Ver</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="infoServicio" role="dialog">
      <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Restaurante</h4>
          </div>
          <div class="modal-body">
            <div class="panel panel-primary">
              {% load static %}
              <div class="panel-body"><img src="{% static "hotel/img/restaurante_servicio.jpg" %}" class="img-responsive" style="width:100%"></div>
              <div class="panel-footer">
                <p>Con una carta extensa donde los antiguo se mezcla con los nuevos sabores. Deliciosa su ensalada de vieiras. El cordero recién asado inmejorable. Todo ello acompañado de vino de la zona, un auténtico placer.</p>
                <button type="button" class="btn btn-default">Reservar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
</html>
