{% extends "hotel/base.html" %}

<html lang="es">
  {% block container %}
  <div class="container">
    <div class="row">
      <h1 class="text-center">Ubicación</h1>
      <div class="col-md-6">
           <p class="justify"><b>Tu hotel en el centro de Pradollano (Sierra Nevada)</b></p>
           <p class="justify">En la calle Cuba, junto a la fuente de Olletas y el Santuario de la Victoria es el hotel más cercano a la estación de esquí
                 y tiene una ubicación privilegiada para disfrutar del centro de la ciudad. No te pierdas otros puntos
                 de interés como los telesillas o el mirador.
           </p>
           <p class="justify">Si buscas un hotel en Sierra Nevada, el hotel <b>LINE</b> es tu hotel.</p>
           <p><b>Acceso al hotel en coche</b> Primera salida A-92 Gránada, abandona la autovía y entra en la Avenida hasta llegar
                a la carretera de la Sierra. Diríjase todo recto, siguiendo las indicaciones y las señalizaciones hasta llegar a Pradollano.
                Una vez allí, entre por la calle España, gire a la derecha hacia la calle Bermúdez y continúe hasta llegar a la rotonda, dónde observará
                las indicaciones para poder entrar en el parking de nuestro hotel.
           </p>
           <p class="justify">
                <b>Acceso al hotel en autobús</b> Dirígete hacia la zona de la estación de trenes que está al lado y sal por un lateral hasta la
                calle Héroes de Sostoa.Coge el autobús nº1 que te dejará en la calle Cristo de la Epidemia en cuya última bocacalle a la
                derecha está la calle Cuba donde se encuentra el hotel Line Granada.
           </p>
           <p class="justify"><b>Acceso al hotel desde el aeropuerto</b> Desde el aeropuerto, coge el tren cercanías dirección estación de tren María Zambrano.
                Una vez llegues a la estación, en la puerta lateral (calle Héroes de Sostoa) coge el autobús nº1 que te dejará en el centro,
                en la calle Cristo de la Epidemia en cuya última bocacalle a la derecha está la calle Cuba donde se encuentra el hotel Line Granada.
           </p>
      </div>
      <div class="col-md-6">
          <br><br><br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3182.4716445174304!2d-3.402188684701826!3d37.09388897988911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71dd40afd5c2ff%3A0x9892f15a1bbecf08!2s18196+Pradollano%2C+Granada!5e0!3m2!1ses!2ses!4v1493115767335" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
   </div>
  </div>
  {% endblock %}
</html>
